*{
    color: silver;
}

/*a:visited{
    color: rgb(126, 126, 126);
}

a:hover{

}*/
h1{
    color: gold;
    font-weight:bolder;
}

/*.stats{
    color: darkblue;
}*/

body    {
    background-color: black;
    
}

p{
    font-size: 18px;
}

.navigation ul{
    list-style-type: none;
    background-color: gold;
    display: flex;  
    justify-content:flex-end;  
    height:40px
}

.navigation li{
    background-color: gold;
    margin-right: 5px;
    margin-top: auto;
    margin-bottom: auto;
}

.navigation a{
    height: 100%;
    color: black;
}

.navigation li:hover{
    background-color: rgb(143, 122, 0);
}

.Name{
    margin-left: 5px;
}

.bio > p{
width: 60%;
}

.Bio p{
    margin: 30px auto;
    padding: 15px;
    border-radius: 55px;
}



