

/*a:visited{
    color: rgb(126, 126, 126);
}

a:hover{

}*/
h1{
    color: gold;
    font-weight:bolder;
}

/*.stats{
    color: darkblue;
}*/

body    {
    background-color: black;
    
}

p{
    font-size: 18px;
}



.Name{
    margin-left: 5px;
}

p{
    width: 60%;
    text-align:center;
}

p{
    margin: 30px auto;
    padding: 15px;
    border-radius: 55px;
}



